@use '../../styles/base/' as *;


.headphonesContainer, .speakersContainer {
  display: grid;
  gap: 120px;
  padding-block: 120px;
}


@media screen and (width >=1024px){
  .earphoneContainer {
    padding-block: 165px;
  }
}