@use '../../styles/base/' as *;


.categories {
  display: grid;
  gap: 100px;
  padding-block: 40px 120px;
  padding-inline: 24px;
}

.category {
  background-color: $gray;
  border-radius: 12px;
  text-align: center;
  padding-block: 20px;

  &__image {
    width: 180px;
    margin-top: -80px;
  }

  &__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1.07px;
    font-family: "Manrope", sans-serif;
  }

  &__shopButton {
    font-size: 13px;
    font-weight: 700;
    color: #979797;
    font-family: "Manrope", sans-serif;

    &:hover {
      background-color: transparent;
      color: $orange;
    }
  }

  &__chevronIcon {
    color: $orange;
  }

}


@media screen and (width >= 768px){
  .categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
}
@media screen and (width >= 1024px){
  .categories {
    padding-inline: 165px;
  }
  
}