@use '../../styles/base/' as *;


.categories {
  display: grid;
  gap: 100px;
  padding-block: 40px 120px;
  padding-inline: 24px;
}

@media screen and (width >= 768px){
  .categories {
    grid-template-columns: repeat(3, 1fr);
  }
  
}
@media screen and (width >= 1024px){
  .categories {
    padding-inline: 165px;
  }
  
}