@use '../../styles/base/' as *; 

 .banner {
    background-color: #1A1A1A;
    color: #fff;
    padding-block: 100px;
    text-transform: uppercase;
    text-align: center;
    // margin-bottom: 64px;

    &__title {
      font-weight: bold;
      font-size: 28px;
      letter-spacing: 2px;
      font-family: "Manrope", sans-serif;
    }

}

  