@use '../../styles/base' as *;

.button { 
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  color: $black;
  font-family: "Manrope", sans-serif;
  border: 1px solid $black;
  border-radius: 0;
  padding: 19px 32px;
  

  &:hover {
    background-color: $black;
    color: $white;
  }     
}

.title {
  text-transform: uppercase;
  font-family: "Manrope", sans-serif;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2px;
  padding-block-end: 32px;
}

.products {
  display: grid;
  padding-inline: 24px;
  gap: 32px;

  &__zX9Speaker {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: clamp(560px, 600px, 720px);
    background-color: $orange;
    border-radius: 12px;
  
    text-align: center;
    padding-inline: 24px;
    font-family: "Manrope", sans-serif;
    background-image: url('../../assets/home/desktop/pattern-circles.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;

    &_image {
      width:  172.5px;
    }

    &_content {
      display: grid;
      gap: 24px;
    }

    &_imageContainer {
      margin-block-end: 32px;
    }

    &_title {
      font-size: 36px;
      line-height: 25px;
      text-transform: uppercase;
      font-weight: 700;
      font-family: "Manrope", sans-serif;
      color: $white;
    }

    &_description {
      font-family: "Manrope", sans-serif;
      color: rgba($color: #fff, $alpha: 0.75);
      font-size: 15px;
      line-height: 25px;
      font-weight: 500;
    }

    &_button {
      background-color: $black;
      color: $white;
      justify-self: center;

      &:hover {
        background-color: #4C4C4C;
        border-color: #4C4C4C;
      }
    }

  }

  &__zX7Speaker{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 320px;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    background-image: url("../../assets/home/mobile/image-speaker-zx7.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 41px 25px;

    &_button {
      align-self: start;
    }
  }

  &__yx1Earphones {
    display: grid;
    gap: 24px;

    & > * {
      border-radius: 12px;
      overflow: hidden;
    }
  }

  &__yx1Description{
    padding: 41px 25px ;
    background-color: $gray;
  }

  &__yx1ImageContainer {
    background-color: $gray;
  }
}

@media  screen and (width >= 768px) {
.products {
  &__yx1Earphones {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__zX7Speaker {
    background-image: url("../../assets/home/tablet/image-speaker-zx7.jpg");
    padding-inline: 64px;
  }

  &__yx1Description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 42px;

    &_button {
      align-self: flex-start;
    }
  }
}
}

@media screen and (width >=1024px) {
.products {
  padding-inline: 165px;

  &__zX9Speaker {
    flex-direction: row;
    justify-content: start;
    gap: 138px;
    padding-inline: 96px;
    overflow: hidden;

    &_imageContainer {
      margin-bottom: -150px;
    }

    &_image {
      width: 411px;
    }

    &_title {
      font-size: 56px;
      line-height: 58px;
      letter-spacing: 2px;
      width: 50%;
    }

    &_button {
      justify-self: flex-start;
    }

    &_content {
      text-align: left;
    }
  }

  &__yx1Description {
    padding-inline: 96px;          
  }

  &__zX7Speaker {
    padding: 100px 96px;
    background-image: url("../../assets/home/desktop/image-speaker-zx7.jpg");
  }
}
}