@use "../../styles/base/" as *;

.card {
  display: grid;
  gap: 32px;
  padding-inline: 24px;
  text-align: center;

  & * {
    font-family: "Manrope", sans-serif;
  }

  &__details {
    display: grid;
    gap: 24px;
    justify-items: center;
  }

  &__newProductLabel {
    color: $orange;
    font-size: 14px;
    letter-spacing: 10px;
  }

  &__title {
    width: 80%;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
  }

  &__description {
    color: rgba($color: #000000, $alpha: 0.6);
  }

  &__imageContainer {
    border-radius: 12px;
    overflow: hidden;
  }

  &__button {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    background-color: $orange;
    border-radius: 0;
    padding: 19px 32px;
    box-shadow: none;

    &:hover {
      background-color: $orange-light;
      box-shadow: none;
    }
  }
}

@media screen and (width >=1024px) {
  .card {
    display: flex;
    align-items: center;
    padding-inline: 165px;
    gap: 125px;

    & > * {
      width: 50%;
    }

    &__details {
      justify-items: start;
      text-align: left;
    }

    &__title {
      width: 50%;
      text-align: left;
    }
  }
}

