@use '../../../styles/global' as *;
@use '../../../styles/variables' as *;


.footer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 48px;
  padding-block-end: 38px;
  padding-inline: 26px;
  background-color: $black;
  color: $white;
  text-align: center;
  font-family: 'Manrope', sans-serif;

  &__topLine {
    display: block;
    width: 101px;
    height: 4px;
    background-color: $orange;
    margin-block-end: 52px;
  }

  &__description,
  &__copyright {
    color: rgba($color: #FFF, $alpha: 0.5);
    font-family: 'Manrope', sans-serif;
  }

  &__copyright {
    font-weight: 700;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__linksItem {
    a {
      color: $white;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 13px;
      line-height: 25px;
      letter-spacing: 2px;

      &:hover {
        color: $orange;
      }
    }
  }

  &__icon {
    color: $white;
    font-size: 24px;

    &:hover {
      color: $orange;
    }
  }

  @media screen and (width >=768px) {
    justify-items: start;
    text-align: left;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 32px;

    &__topLine {
      grid-column: 1/2;
      grid-row: 1/2;
      margin-block-end: 0;
    }

    &__logoContainer {
      grid-column: 1/3;
      grid-row: 2/3;
    }

    &__links {
      grid-column: 1/3;
      grid-row: 3/4;
      display: grid;
      grid-auto-flow: column;
    }

    &__description {
      grid-column: 1/3;
      grid-row: 4/5;
      margin-top: -20px;
    }

    &__copyright {
      grid-column: 1/2;
      grid-row: 5/6;
    }

    &__socialIcons {
      grid-column: 2/3;
      grid-row: 5/6;
      justify-self: end;
    }
  }


  @media screen and (width >=1024px) {
    padding-inline: 165px;
    grid-template-rows: repeat(4, 1fr);

    &__logoContainer {
      grid-column: 1/2;
      grid-row: 2/3;
    }

    &__links {
      grid-column: 2/3;
      grid-row: 2/3;
      justify-self: end;
      text-align: right;
    }

    &__description {
      grid-column: 1/2;
      grid-row: 3/4;
    }

    &__socialIcons {
      grid-column: 2/3;
      grid-row: 3/4;
      justify-self: end;
      align-self: end;
    }

    &__copyright {
      grid-column: 1/3;
      grid-row: 4/5;
    }
  }
}