@use "../../styles/base" as *;

.audioGear {
  display: grid;
  gap: 40px;
  padding-block: 120px;
  font-family: 'Manrope', sans-serif;
  letter-spacing: 1px;
  text-align: center;

  &__imageContainer {
    img {
      border-radius: 12px;
    }
    
    overflow: hidden;
  }

  &__content {
    display: grid;
    gap: 32px;
  }

  &__title {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 700;
    font-family: "Manrope", sans-serif;

    span {
      color: $orange;
    }
  }

  &__description {
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
    color: rgba($color: #000000, $alpha: 0.6);
  }
}  

@media screen and (width >= 1024px){
  .audioGear {
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
    gap: 125px;
    padding-inline: 165px;
    align-items: center;

    &__title {
      font-size: 40px;
      line-height: 44px;
      letter-spacing: 1.43px;
    }

    &__imageContainer {
      width: 50%;   
    }
      
    &__content {
      width: 50%;
    }
}}