@use '../../../styles/base/' as *;


.header {
  border-bottom-width: .5px ;
  border-bottom-style:  solid;
  background-color: $blackish;
  border-bottom-color: rgba(255, 255, 255, 0.5);
  // background: url('../../../assets/home/mobile/image-header.jpg');
  
  nav {
    display: flex;
    justify-content: space-between;
    color: $white;
    padding: 32px 24px;  
  }

  &__menu {
    display: none;
  }
}

@media screen and (width >= 768px) {

.header {
  background: url('../../../assets/home/mobile/image-header.jpg');
  
  nav {
    display: flex;
    padding-inline: 40px;
    justify-content: start;
  }

  &__logo {
    margin-left: 42px;
  }

  &__cart {
    margin-left: auto;
  }
  }
}

@media screen and (width >=1024px) {
.header {
    background: url('../../../assets/home/mobile/image-header.jpg');

    nav {
      padding-inline: 165px;
      justify-content: space-between;
    }

    &__hamburger {
      display: none;
    }

    &__logo {
      margin-left:0;
    }

    &__menu {
      display: flex;
      gap: 34px;
      text-transform: uppercase;
    }

    &__cart {
      margin-left: 0;
    }

    &__menuItem {
      &_text {
        font-family: "Manrope", sans-serif;
        font-size: 13px;
        line-height: 25px;
        letter-spacing: 2px;
        font-weight: 700;
        color: $white;

        &:hover {
          color: $orange;
        }
      }
    }
  }
}